<!DOCTYPE html>
    <html lang="es">
        <head>
            <title>Home</title>
        </head>

        <body>

            <h2>Inicio</h2>
            <ul>
                <li><a href={% url 'home' %}>Inicio</a> </li>
                <li><a href={% url 'login' %}>Login</a> </li>
                <li><a href={% url 'registro_persona' %}>Registrar persona</a> </li>
                <li><a href={% url 'registro' %}>Registro</a> </li>
            </ul>

            <h4>
                Bienvenido {{user.username}} 
            </h4>

            <div>
                {% load static %}
                <img src="{% static 'diagrama.png' %}" alt="Diagrama">
            </div>
        </body>

</html>