<!DOCTYPE html>
    <html lang="es">
        <head>
            <title>Login</title>
        </head>
        <body>
            
            {% block content %}

            <form class = "form" method = "post">
                {% csrf_token %}
                {{ form.as_p}}

                <button type = "submit" id = "submit">Login</button>
            </form>

            {% endblock %}
        </body>

</html>