<!DOCTYPE html>
    <html lang="es">
        <head>
            <title>Registro de personas</title>
        </head>
        <body>

            {% block content %}

            <form class = "form" method = "post">
                {% csrf_token %}
                {{ form.as_p}}

                <button type = "submit" id = "submit">Registrar persona</button>
                <p>La informacion aqui suministrada no puede ser usada para iniciar sesion</p>
                <p><a href={% url 'registro' %}>Registrese aqui</a> </p>
            </form>

        {% endblock %}
    </body>

</html>