<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Inicio</title>
        <meta name="description" content="List with alternating background colors">
        <meta name="keywords" content="html list background colors">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <!-- Header con links y nombre de la tienda -->
    <header class="horizontal-header">
        <h1>cuboZ</h1>
        <nav class="enlaces">
            <ul>
                <li><a href="{% url 'inicio' %}">Home</a></li>
                <li><a href="{% url 'lista' %}">Productos</a></li>
                <li><a href="{% url 'login' %}">Ingresar</a></li>
                <li><a href="{% url 'registro' %}">Registrarse</a></li>
            </ul>
        </nav>
    </header>

    <!-- Imagen de flecha con animacion al pasar el mouse -->
    <div class="flecha_div">
        <img src="{%static 'img/flecha.png' %}" alt= "flecha" class="flecha">
    </div>

    <!-- Texto de bienvenida con animacion -->
    <section>
        <div class="content">
          <h2>Bienvenido</h2>
          <h2>Bienvenido</h2>
        </div>
    </section>

    <!-- Set de imagenes con fines decorativos -->
    <div class="imgs_home">
        <img src="{% static 'img/img_inicio1.jpg' %}" class="img_home">
        <img src="{% static 'img/img_inicio2.jpg' %}" class="img_home">
        <img src="{% static 'img/img_inicio3.jpg' %}" class="img_home">
    </div>
</html>
