<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
            rel="stylesheet"
        >
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>

        <!-- Header con links y titulo de la tienda -->
		<header class="horizontal-header">
            <h1>cuboZ</h1>
            <nav class="enlaces">
                <ul>
                    <li><a href="{% url 'inicio' %}">Home</a></li>
                    <li><a href="{% url 'lista' %}">Productos</a></li>
                    <li><a href="{% url 'login' %}">Ingresar</a></li>
                    <li><a href="{% url 'registro' %}">Registrarse</a></li>
                </ul>
            </nav>
        </header>

        <div class="background"></div>
        <div class="centering">
            <!-- Form para iniciar sesion -->
            <form class="my-form" method = "POST">
                {% csrf_token %}
                <div class="login-welcome-row">
                    <img class="login-welcome" src="{% static 'img/login.jpg' %}" alt="fondo">
                    <h1>Iniciar sesión</h1>
                    <h1>{{ estado }}</h1> <!-- Header para informar si no se pudo completar el ingreso -->
                </div>
                <div class="text-field">
                    <label for="email">Correo:</label>
                    {{ form_login.usuario }}
                    <img src="{%static 'img/email.png' %}">
                </div>

                <div class="text-field">
                    <label for="password">Contraseña:</label>
                    {{ form_login.clave }}
                    <img src="{%static 'img/password.png' %}">
                </div>

                <input type="submit" class="my-form__button" value="Login">

                <!-- Opcion para registrarse -->
                <div class="my-form__actions">
                    <div class="my-form__signup">
                        <a href="{% url 'registro' %}" title="Crear cuenta">Registrarse</a>
                    </div>
                </div>
            </form>
        </div>

        <script src="{%static 'js/login.js' %}"></script>

		<footer class="horizontal-footer">
            <h1>© Sebastián Castro</h1>
            <h2>2023</h2>
            <h3>Correo: juan_castro82211@elpoli.edu.co</h3>
        </footer>
    </body>
</html>


