<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Registro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
            rel="stylesheet"
        >
        <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    </head>
    <body>

        <!-- Header con links y titulo de la tienda -->
		<header class="horizontal-header">
            <h1>cuboZ</h1>
            <nav class="enlaces">
                <ul>
                    <li><a href="{% url 'inicio' %}">Home</a></li>
                    <li><a href="{% url 'lista' %}">Productos</a></li>
                    <li><a href="{% url 'login' %}" id="login_text">Ingresar</a></li>
                    <li><a href="{% url 'registro' %}" id="registro_text">Registrarse</a></li>
                </ul>
            </nav>
        </header>

        <div class="background"></div>
        <div class="centering">
            <form class="my-form" method = "post">
                {% csrf_token %}
                <div class="login-welcome-row">
                    <img class="login-welcome" src="{% static 'img/registro.jpg' %}" alt="fondo">
                    <h1>Registrarse</h1>
                    <h1>{{ estado }}</h1> <!-- Header para informar que no se pudo completar el registro -->
                </div>

                <!-- Form de registro de django -->
                {{ form_registration.as_p }}

                <!-- Campo para contraseña -->
                <div class="password-field">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password">
                </div>

                <input type="submit" class="my-form__button" value="Registrarse" onclick="validateRegistration(event)">

                <!-- Opcion para ingresar -->
                <div class="my-form__actions">
                    <div class="my-form__signup">
                        <a href="{% url 'login' %}" title="Volver a login">Volver</a>
                    </div>
                </div>
            </form>
        </div>
        
        <script src="{% static 'js/registro.js' %}"></script>

		<footer class="horizontal-footer">
            <h1>Fin de la pagina</h1>
        </footer>
    </body>
</html>