body {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background: rgb(231, 223, 227);
background: linear-gradient(90deg, rgb(33 32 32), rgb(138, 138, 116));
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 30px;
}

a{

    text-decoration: none;
    color: black;
}

.link_producto{

    width: fit-content;
    margin-right: 50px;
}

.carrito{

    cursor: pointer;
}

.agg_carrito{

    width: 100%;
    background-color: #a9abab;
    font-weight: bold;
}

.agg_carrito span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.agg_carrito span:after {
    content: '+';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.agg_carrito:hover span {
    padding-right: 25px;
}
  
.agg_carrito:hover span:after {
    opacity: 1;
    right: 0;
}

.agg_carrito:active {
    background-color: #9ab3b3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.close-square {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .close-square:hover,
  .close-square:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .close-square:active {
    opacity: .5;
  }

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .body {
        gap: 10px;
    }
}

/* Apply styles to the layout */
.layout {
    width: 100%; /* Take full width of the screen */
    max-width: 100%; /* Set a maximum width */ /* Center the layout horizontally */
    margin-top: 50px;
    box-sizing: border-box; /* Include padding in total width */
    display: flex;
}

/* Apply styles to the content */
.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: start;
}

/* Apply styles to images */
.content img {
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ccc; /* Add a border for better visualization */
}

/* Apply styles to the sidebar */
.sidebar { 
    width: 100%; /* Occupy full width of the screen */
    height: fit-content;
    max-width: 300px; /* Set a maximum width */
    margin-right: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: solid;
}

/* Apply styles to the body */
.body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; /* Adjust this to 'flex-start' */
    align-items: flex-start;
}

.right-div {

    width: 20%;
    background-color: gray;
    padding: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: solid;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(224, 222, 224, 0.4) 5px 5px, rgba(223, 221, 222, 0.3) 10px 10px, rgba(228, 226, 227, 0.2) 15px 15px, rgba(218, 216, 217, 0.1) 20px 20px, rgba(223, 221, 222, 0.05) 25px 25px, rgba(224, 222, 224, 0.4) -5px 5px, rgba(223, 221, 222, 0.3) -10px 10px, rgba(228, 226, 227, 0.2) -15px 15px, rgba(218, 216, 217, 0.1) -20px 20px, rgba(223, 221, 222, 0.05) -25px 25px;
}

/* Apply styles to products */
.producto {
    background: #e3e3e3;
    margin-right: 10px;
    height: fit-content;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: solid;
}

.enlaces{

    display: flex;
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr; /* Change to a single column layout */
        gap: 10px;
    }
    .body {
        flex-direction: column;
        align-items: center;
    }
    .link_producto {
        width: 100%; /* Occupy full width */
        margin-right: 0;
        margin-bottom: 10px; /* Add spacing between items */
        text-align: center;
    }
}

.ref_img{

    width: 309px;
    height: 309px;
}

.prox_img{

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    width: 100%;
}
.right-div .prox_img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.producto .ref_img:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.titulo{

    background-color: #333;
    color: white;
    size: 10px;
    text-align: justify;
}

.odd{

    background-color: white;
    cursor: pointer;
}

.even{

    background-color: lightgray;
    cursor: pointer;
}

.horizontal-header {

    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    height: 70px;
}

/* Style the navigation links */
.horizontal-header nav ul {
    list-style: none;
    text-align: right;
}

.horizontal-header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.horizontal-header nav ul li a {
    color: white; /* Link color */
    text-decoration: none;
    font-weight: bold;
}

.horizontal-footer {

    background-color: #333;
    color: white;
    padding: 10px;
}

body, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

main, footer {
    margin-top: 60px;
}

.square-overlay {

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    height: 50%;
    background-color: #fdfff3;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    flex-direction: column;
}

.square-content {
    
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px; /* Set maximum width for the content */
    max-height: 80px; /* Set maximum height for the content */
    overflow-y: auto;
}

#itemList {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
}

#itemList li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides1 {
  display: none;
}

.mySlides2 {
    display: none;
  }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.prox{

    color: #fdfff3;
    text-shadow: -5px 5px #414141;
    font-weight: bold;
}