<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Descripcion producto</title>
        <meta name="description" content="List with alternating background colors">
        <meta name="keywords" content="html list background colors">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <!-- Header con links y nombre de la tienda -->
    <header class="horizontal-header">
        <h1>cuboZ</h1>
        <nav class="enlaces">
            <ul>
                <li><a href="{% url 'inicio' %}">Home</a></li>
                <li><a href="{% url 'lista' %}">Productos</a></li>
                <li><a href="{% url 'login' %}">Ingresar</a></li>
                <li><a href="{% url 'registro' %}">Registrarse</a></li>
            </ul>
        </nav>
    </header>

    <div class="fondo_detalle">

        <h3 class="nombre_cubo">{{prod.nom_prod}}</h3><!--Nombre del producto como titulo -->

        <!-- Listar atributos del producto -->
        <div class="atributos">
            <p class="atributo">Tipo de cubo: {{prod.tipo_prod}}</p>
            <p class="atributo">Marca: {{prod.marca_prod}}</p>
            <p class="atributo">Precio: ${{prod.precio_prod}}</p>
            <p class="atributo">Descripción: {{prod.detalle_prod}}</p>
            <p class="atributo">Color de fondo: {{prod.color_fondo_prod}}</p>
        </div>
    </div>
</html>