<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Productos</title>
        <meta name="description" content="List with alternating background colors">
        <meta name="keywords" content="html list background colors">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    
    <body>

        <!-- Header con links y nombre de la tienda -->
        <header class="horizontal-header">
            <h1>cuboZ</h1>
            <nav class="enlaces">
                <ul>
                    <li><a href="{% url 'inicio' %}">Home</a></li>
                    <li><a class="{% url 'lista' %}">Productos</a></li>
                    <li><a href="{% url 'login' %}">Ingresar</a></li>
                    <li><a href="{% url 'registro' %}">Registrarse</a></li>
                </ul>
            </nav>
        </header>

        <section class="layout">

            <!-- Lista de categorias -->
            <div class="sidebar">
                <ul>
                    <li class="titulo">Categorías</li>
                    <li class="odd" title="Cubos 2x2">2x2</li>
                    <li class="even" title="Cubos 3x3">3x3</li>
                    <li class="odd" title="Cubos 4x4">4x4</li>
                    <li class="even" title="Cubos 5x5">5x5</li>
                    <li class="odd" title="Cubos 6x6">6x6</li>
                    <li class="even" title="Cubos 7x7">7x7</li>
                    <li class="odd" title="Cubos 8x8 o mayores">8x8 o más</li>
                    <li class="even" title="Tipo megaminx">Megaminx</li>
                    <li class="odd" title="Tipo pyraminx">Pyraminx</li>
                    <li class="even" title="3x3 modificaciones">Modificaciones 3x3</li>
                    <li class="odd" title="4x4 o mayor modificaciones">Modificaciones 4x4 o más</li>
                </ul>
            </div>

            <!-- Lista de productos -->
            <div class="body">

                <a title="Square one fondo negro de la marca Shengshou" class="link_producto" href="{% url 'detalle_producto' 1 %}">
                    <div class="producto">
                        <img src="{% static 'img/sq1.jpg' %}" alt="Sq1" class="ref_img">
                        <h2>Square one</h2>
                        <h1 class="precio">$25.000</h1>
                    </div>
                </a>

                <a title="X-cube de la marca Calvin's puzzle fondo negro" class="link_producto" href="{% url 'detalle_producto' 2 %}">
                    <div class="producto">
                        <img src="{% static 'img/x-cube.jpg' %}" alt="X-cube" class="ref_img">
                        <h2>X-cube</h2>
                        <h1 class="precio">$40.000</h1>
                    </div>
                </a>

                <a title="Pyaminx duo stickerless de la marca moyu" class="link_producto" href="{% url 'detalle_producto' 3 %}">
                    <div class="producto">
                        <img src="{% static 'img/Pyraminx duo.jpg' %}" alt="Pyra duo" class="ref_img">
                        <h2>Pyraminx duo</h2>
                        <h1 class="precio">$20.000</h1>
                    </div>
                </a>

                <a title="Megaminx esférico fondo negro modificado" class="link_producto" href="{% url 'detalle_producto' 4 %}">
                    <div class="producto" >
                        <img src="{% static 'img/megaminx_ball.jpg' %}" alt="Megaminx ball" class="ref_img">
                        <h2>Megaminx ball</h2>
                        <h1 class="precio">$150.000</h1>
                    </div>
                </a>

                <a title="3x3 de la marca Yuxin modelo little magic speedcube fondo negro" class="link_producto" href="{% url 'detalle_producto' 5 %}">
                    <div class="producto" >
                        <img src="{% static 'img/3x3.jpg' %}" alt="3x3" class="ref_img">
                        <h2>3x3 speedcube</h2>
                        <h1 class="precio">$25.000</h1>
                    </div>
                </a>

                <a title="3x3 Penrose de la marca Z-cube fondo negro" class="link_producto" href="{% url 'detalle_producto' 6 %}">
                    <div class="producto" >
                        <img src="{% static 'img/penrose.jpg' %}" alt="penrose" class="ref_img">
                        <h2>Penrose 3x3</h2>
                        <h1 class="precio">$35.000</h1>
                    </div>
                </a>
            </div>

            <div class="right-div">

                <h1 class="prox">PRÓXIMAMENTE</h1>

                <!-- Slideshow con imagenes de cubos que aun no estan disponibles como productos -->
                <div class="slideshow-container">

                    <div class="mySlides1">
                        <img src="{% static 'img/prox_1_1.jpg' %}" style="width:100%" class="prox_img" title="5x5 outline">
                    </div>
                
                    <div class="mySlides1">
                        <img src="{% static 'img/prox_1_2.jpg' %}" style="width:100%" class="prox_img" title="5x5 outline">
                    </div>
        
                    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                </div>

                <div class="slideshow-container">

                    <div class="mySlides2">
                        <img src="{% static 'img/prox_2_1.jpg' %}" style="width:100%" class="prox_img" title="ivy cube">
                    </div>
                
                    <div class="mySlides2">
                        <img src="{% static 'img/prox_2_2.jpg' %}" style="width:100%" class="prox_img" title="ivy cube">
                    </div>
        
                    <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
                </div>
            </div>
          </section>

        <footer class="horizontal-footer">
            <h1>© Sebastián Castro</h1>
            <h2>2023</h2>
            <h3>Correo: juan_castro82211@elpoli.edu.co</h3>
        </footer>

        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>