@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background: rgb(231, 223, 227);
    background: linear-gradient(90deg, rgb(33 32 32), rgb(138, 138, 116));
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 30px;
}

a{

    text-decoration: none;
    color: black;
}

.link_producto{

    width: fit-content;
    margin-right: 50px;
}

.close-square {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .close-square:hover,
  .close-square:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .close-square:active {
    opacity: .5;
  }

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .body {
        gap: 10px;
    }
}

/* Aplicar estilos al layout */
.layout {
    width: 100%; /* Tomar todo el ancho de la pantalla */
    max-width: 100%; 
    margin-top: 50px;
    box-sizing: border-box; 
    display: flex;
}

/* Aplicar estilos al contenido */
.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: start;
}

/* Aplicar estilos a las imagenes*/
.content img {
    max-width: 100%; /* Para que la imagen no se salga del espacio */
    height: auto; /* Mantener el ratio */
    border: 1px solid #ccc; /* Borde a la imagen */
}

/* Aplicar estilos a la barra horizontal */
.sidebar { 
    width: 100%; /* Ocupar todo el alto de la pantalla */
    height: fit-content;
    max-width: 300px; 
    margin-right: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: solid;
}

.body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; 
    align-items: flex-start;
}

.right-div {

    width: 20%;
    background-color: gray;
    padding: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: solid;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(224, 222, 224, 0.4) 5px 5px, rgba(223, 221, 222, 0.3) 10px 10px, rgba(228, 226, 227, 0.2) 15px 15px, rgba(218, 216, 217, 0.1) 20px 20px, rgba(223, 221, 222, 0.05) 25px 25px, rgba(224, 222, 224, 0.4) -5px 5px, rgba(223, 221, 222, 0.3) -10px 10px, rgba(228, 226, 227, 0.2) -15px 15px, rgba(218, 216, 217, 0.1) -20px 20px, rgba(223, 221, 222, 0.05) -25px 25px;
}

.producto {
    background: #e3e3e3;
    margin-right: 10px;
    height: fit-content;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: solid;
}

.enlaces{

    display: flex;
}

/* Layout responsiva */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr; /* Cambiar a una sola columna */
        gap: 10px;
    }
    .body {
        flex-direction: column;
        align-items: center;
    }
    .link_producto {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }
}

.ref_img{

    width: 309px;
    height: 309px;
}

.prox_img{

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    width: 100%;
}
.right-div .prox_img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.producto .ref_img:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.titulo{

    background-color: #333;
    color: white;
    size: 10px;
    text-align: justify;
}
/* Par e impar para la barra del lado */
.odd{

    background-color: white;
    cursor: pointer;
}

.even{

    background-color: lightgray;
    cursor: pointer;
}

.horizontal-header {

    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    height: 70px;
}

.horizontal-header nav ul {
    list-style: none;
    text-align: right;
}

.horizontal-header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.horizontal-header nav ul li a {
    color: white; 
    text-decoration: none;
    font-weight: bold;
}

.horizontal-footer {

    background-color: #333;
    color: white;
    padding: 10px;
}

body, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

main, footer {
    margin-top: 60px;
}

.square-overlay {

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    height: 50%;
    background-color: #fdfff3;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    flex-direction: column;
}

.square-content {
    
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px; /* Set maximum width for the content */
    max-height: 80px; /* Set maximum height for the content */
    overflow-y: auto;
}

#itemList {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
}

#itemList li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides1 {
  display: none;
}

.mySlides2 {
    display: none;
  }

/* Botones para pasar imagenes */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Poner el boton de siguiente a la dereca */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Al pasar el mouse, añadir un fondo negro transparente */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Animacion */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.prox{

    color: #fdfff3;
    text-shadow: -5px 5px #414141;
    font-weight: bold;
}

img.flecha{

    width: 200px;
    height:auto;
}

.flecha_div{

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    transition: all 0.3s ease-in-out 0s;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.content h2 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px rgb(1, 28, 41);
}
  
.content h2:nth-child(2) {
    color: #011924;
    animation: animate 4s ease-in-out infinite;
}
  
@keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
}
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

/* Imagenes al lado de la pantalla */
.imgs_home{

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1%;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
    transition: 1s ease;
}

img.img_home{

    width:100px;
    height: auto;
}

/* Animar al pasar el mouse */
.imgs_home img:hover{
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: 1s ease;
}

/*Animar al pasar el mouse */
.flecha_div img:hover
{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

.fondo_detalle {

    width: 96%;
    height: 0%;
    background: radial-gradient(circle at 49.24% 50.07%, #11495e 0, #0e4657 6.25%, #10424e 12.5%, #133e45 18.75%, #16383c 25%, #193132 31.25%, #1a2a29 37.5%, #1a2221 43.75%, #191919 50%, #170f12 56.25%, #13020b 62.5%, #0f0006 68.75%, #070002 75%, #000000 81.25%, #000000 87.5%, #000001 93.75%, #000002 100%);    
    margin: 20px;
    border-radius: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.nombre_cubo{

    color: white;
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin-bottom: 40px;
    margin-top:20px;
}

.atributos{

    display: grid;
    justify-items: center;
    align-content: stretch;
}

.atributo{

    color:white;
    font-size: 40px;
}
